{% extends "base.html" %}

{% block title %}{{ title }} • d3.geomap{% endblock%}

{% block styles %}
<link href="/d3-geomap/css/d3.geomap.css#v={{ version }}" rel="stylesheet">
{{ super() }}
{% endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h1>{{ title }}</h1>
        <div>{{ body }}</div>
        <div id="map"></div>
  </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="/d3-geomap/vendor/d3.geomap.dependencies.min.js#v={{ version }}"></script>
<script src="/debug/geomap-only.js#v={{ version }}"></script>
{{ super() }}
{% endblock%}