{% extends "base.html" %}

{% block title %}{{ title }} • d3-geomap{% endblock%}

{% block styles %}
<link href="/d3-geomap/d3-geomap.css" rel="stylesheet">
{{ super() }}
{% endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h1>{{ title }}</h1>
        <div>{{ body }}</div>
        <div id="map"></div>
  </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="//unpkg.com/d3@5.9.2/dist/d3.min.js"></script>
<script src="//unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
<script src="/d3-geomap/d3-geomap.min.js"></script>
{{ super() }}
{% endblock%}