{% extends "base.html" %}

{% block title %}{{ title }} • d3.geomap{% endblock%}

{% block styles %}
<link href="/d3-geomap/css/d3.geomap.css#v={{ version }}" rel="stylesheet">
{{ super() }}
{% endblock%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h1>{{ title }}</h1>
        <div>{{ body }}</div>
        <div id="map"></div>
        {% if data %}
            <h3>Data</h3>
            <p>See an excerpt of the data used in this map below. Currently CSV is the only supported data format for creating choropleth maps with d3.geomap.</p>
            <pre>{{ filesource(data, lines=6) }}...</pre>
        {% endif %}
        <hr>
        {% include 'menus/docs.html' %}
    </div>
  </div>
</div>
{% endblock %}

{% block body_scripts %}
<script src="http://jsconsole.com/remote.js?8A379BDB-AE79-4453-A76F-0FE748B60590"></script>
<script src="/d3-geomap/vendor/d3.geomap.dependencies.min.js#v={{ version }}"></script>
<script src="/d3-geomap/js/d3.geomap.min.js#v={{ version }}"></script>
{{ super() }}
{% endblock%}